$primary-color: #7C9EB2;
$secondary-color: #A0A0C0;
$secondary-hover: #7F7492;
$background-color: #231123;
$border-and-text: #171717;

#nav-bar {
  height: 80px;
  width: 100%;
  background-color: $primary-color;
  color: $border-and-text;
  position: fixed;
  top: 0;
  padding-right: 2em;
  padding-left: 2em;
  z-index: 1;


  .header {
    color: $border-and-text;
    font-size: 2em;
    padding-left: 0.5em;
    float: left;
    margin-top: 0.75em;
    position: fixed;
  }

  .logo {
    height: 5em;
    width: 5em;
    float: left;
  }

  .compose {
    position: fixed;
    right: 1.25em;
    height: 3em;
    width: 5.5em;
    float: right;
    border-style: solid;
    border-color: $border-and-text;
    background-color: $secondary-color;
    border-radius: 5px;
    margin-top: 15px;
    color: $border-and-text;
  }

  #compose-button {
    padding: 1.5em;
    padding-right: 2em;
    padding-top: 1em;
    margin: 0;
  }

  .compose:hover {
    border-color: black;
    background-color: $secondary-hover;
    color: black;
  }
}