$primary-color: #7C9EB2;
$secondary-color: #A0A0C0;
$secondary-hover: #7F7492;
$background-color: #231123;
$border-and-text: #171717;

textarea {
  padding: 0.25em;
  width: 100%;
  word-wrap: break-word;
}

#compose_tweet {
  border-bottom: 1px solid black;
  height: auto;
}

.new-tweet {
  background-color: $secondary-color;
  border: solid;
  border-color: $border-and-text;
  border-radius: 0.25em;
  padding: 0.5em;
}

.new-tweet:hover {
  border-color: black;
  color: black;
  background-color: $secondary-hover;
}

.counter {
  position: relative;
  left: 80%;
}

.positive-counter {
  position: relative;
  left: 80%;
}

.negative-counter {
  position: relative;
  left: 80%;
  color: red;
}

.error {
  color: red;
}
