#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  top: 0;
  padding-right: 2em;
  padding-left: 2em;
}

.header {
  color: #e8fdff;
  font-size: 2em;
  padding-left: 10px;
  float: left;
  margin-top: 20px;
}

.logo {
  height: 80px;
  width: 80px;
  float: left;
}

.compose {
  height: 50px;
  width: 90px;
  float: right;
  border-style: solid;
  border-color: grey;
  background-color: #fffaf0;
  border-radius: 5px;
  margin-top: 15px;
  color: #244751;
}

#compose-button {
  padding: 1.5em;
  padding-right: 30px;
  padding-top: 15px;
  margin: 0px;
}

.compose:hover {
  border-color: black;
  color: black;
  filter: brightness(101%);
}