textarea {
  padding: 0.25em;
  width: 100%;
}

#compose_tweet {
  margin-top: 0;
  padding-left: 0.25em;
  border-bottom: 1px solid #000;
}

.container {
  border-radius: 5px;
}

.new-tweet {
  padding: 0.5em;
}

.counter {
  position: relative;
  left: 80%;
}

.positive-counter {
  position: relative;
  left: 80%;
}

.negative-counter {
  position: relative;
  left: 80%;
  color: red;
}