textarea {
  padding: 0.25em;
  width: 100%;
  word-wrap: break-word;
}


#compose_tweet {
  border-bottom: 1px solid #000;
  height: auto;
}

.new-tweet {
  background-color: #fffaf0;
  border: solid;
  border-color: grey;
  border-radius: 5px;
  padding: 0.5em;
}

.new-tweet:hover {
  border-color: black;
  color: black;
  filter: brightness(101%);
}

.counter {
  position: relative;
  left: 80%;
}

.positive-counter {
  position: relative;
  left: 80%;
}

.negative-counter {
  position: relative;
  left: 80%;
  color: red;
}

.error {
  color: red;
}
