textarea {
  padding: 0.25em;
  width: 100%;
}


#compose_tweet {
  border-bottom: 1px solid #000;
}

.new-tweet {
  background-color: #fffaf0;
  padding: 0.5em;
}

.counter {
  position: relative;
  left: 80%;
}

.positive-counter {
  position: relative;
  left: 80%;
}

.negative-counter {
  position: relative;
  left: 80%;
  color: red;
}
